[Unit]
Description=credentials-fetcher systemd service unit file.

[Service]
ExecStartPre=mkdir -p /var/credentials-fetcher/krbdir /var/credentials-fetcher/socket /var/credentials-fetcher/logging
ExecStartPre=chgrp ec2-user /var/credentials-fetcher /var/credentials-fetcher/krbdir /var/credentials-fetcher/socket /var/credentials-fetcher/logging
ExecStartPre=chmod 755 /var/credentials-fetcher /var/credentials-fetcher/krbdir /var/credentials-fetcher/socket /var/credentials-fetcher/logging
ExecStart=/usr/sbin/credentials-fetcherd
ExecStartPost=chgrp ec2-user /var/credentials-fetcher/socket/credentials_fetcher.sock
ExecStartPost=chmod 660 /var/credentials-fetcher/socket/credentials_fetcher.sock
Environment="CREDENTIALS_FETCHERD_STARTED_BY_SYSTEMD=1"
Type=notify
NotifyAccess=main
WatchdogSec=5s
Restart=on-failure

[Install]
WantedBy=multi-user.target
