[Unit]
Description=credentials-fetcher systemd service unit file.

[Service]
ExecStartPre=mkdir -p /var/credentials-fetcher/krbdir /var/credentials-fetcher/socket /var/credentials-fetcher/logging
ExecStartPre=chgrp ${CF_DIR_GID} /var/credentials-fetcher /var/credentials-fetcher/krbdir /var/credentials-fetcher/socket /var/credentials-fetcher/logging
ExecStartPre=chmod ${CF_DIR_MODE} /var/credentials-fetcher /var/credentials-fetcher/krbdir /var/credentials-fetcher/socket /var/credentials-fetcher/logging
ExecStart=/usr/sbin/credentials-fetcherd
Environment="CREDENTIALS_FETCHERD_STARTED_BY_SYSTEMD=1"
Environment="CF_CRED_SPEC_FILE=/var/credentials-fetcher/credspec.json"
Environment="CF_DIR_GID=1000"
Environment="CF_DIR_MODE=755"
Environment="CF_KRB5CC_GID=1000"
Environment="CF_KRB5CC_MODE=660"
Environment="CF_SOCKET_GID=1000"
Environment="CF_SOCKET_MODE=755"
Type=notify
NotifyAccess=main
WatchdogSec=5s
Restart=on-failure

[Install]
WantedBy=multi-user.target
