[Unit]
Description=Credentials Fetcher Service
After=network.target

[Service]
Type=notify
ExecStart=/usr/local/bin/credentials-fetcher
WorkingDirectory=/workplace/muskanl/CredentialsFetcherV2WS/src/CredentialsFetcherV2
Restart=always
RestartSec=5
# Enable watchdog
WatchdogSec=30
# Send systemd a notification to start the service timeout
NotifyAccess=all
Environment=LOG_LEVEL=debug

# Security options
ProtectSystem=full
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
