[Unit]
Description=Credentials Fetcher Service
After=network.target

[Service]
StandardError=journal
StandardOutput=journal
StandardInput=null
Type=notify
ExecStartPre=/bin/mkdir -p /var/credentials-fetcher/krbdir /var/credentials-fetcher/socket /var/credentials-fetcher/logging
ExecStartPre=/bin/chmod 755 /var/credentials-fetcher /var/credentials-fetcher/krbdir /var/credentials-fetcher/socket /var/credentials-fetcher/logging
ExecStart=/usr/local/bin/credentials-fetcher
ExecStartPost=/bin/chmod 666 /var/credentials-fetcher/socket/credentials_fetcher.sock
Restart=on-failure
RestartSec=5
WatchdogSec=120s
NotifyAccess=main
Environment=LOG_LEVEL=debug
Environment=AWS_REGION=us-west-2
Environment="PATH=/usr/bin:/usr/sbin:/bin:/sbin"

# Security options
ProtectSystem=full
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
