[Unit]
Description=credentials-fetcher systemd service unit file.

[Service]
ExecStart=/usr/sbin/credentials-fetcherd
Environment="CREDENTIALS_FETCHERD_STARTED_BY_SYSTEMD=1"
EnvironmentFile=/etc/credentials-fetcher/env-file
Type=notify
NotifyAccess=main
WatchdogSec=5s
Restart=on-failure

[Install]
WantedBy=multi-user.target
