[Unit]
Description=credentials-fetcher systemd service unit file.

[Service]
ExecStartPre=/bin/mkdir -p /var/opt/credentials-fetcher/krbdir /var/opt/credentials-fetcher/socket /var/opt/credentials-fetcher/logging
ExecStartPre=chmod 700 /var/opt/credentials-fetcher/krbdir /var/opt/credentials-fetcher/socket /var/opt/credentials-fetcher/logging
ExecStart=/opt/credentials-fetcher/bin/credentials-fetcherd --config_file /etc/opt/credentials-fetcher/config.json
Environment="CREDENTIALS_FETCHERD_STARTED_BY_SYSTEMD=1"
EnvironmentFile=/etc/opt/credentials-fetcher/env-file
Type=notify
NotifyAccess=main
WatchdogSec=5s
Restart=on-failure

[Install]
WantedBy=multi-user.target
