[Unit]
Description=credentials-fetcher systemd service unit file.

[Service]
ExecStart=/usr/sbin/credentials-fetcherd
Type=notify
NotifyAccess=main
WatchdogSec=5s
Restart=on-failure

[Install]
WantedBy=multi-user.target
